body {
    font-size: $doc-font-size+px;
    font-family: Arial, sans-serif;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(rgb(255, 255, 255)), to(rgb(153, 153, 153)));
    background-image: -moz-radial-gradient(center 45deg, circle closest-side, rgb(255, 255, 255) 0%, rgb(153, 153, 153) 400%);
}

p {
    @include font-size(16);
    @include margin-distribution(0, 1);
}

h1 {
    @include font-size(26);
    @include margin-distribution();
}

h2 {
    @include font-size(22);
    @include margin-distribution(0.75, 0.25);
}

h3 {
    @include font-size(22);
    @include margin-distribution(0.75, 0.25);
}

.no-js {
    display: none;
}

form {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
}

a:focus,
button:focus,
input:focus,
select:focus, {
    outline: $focus-outline;
}

// Remove inner padding and border in Firefox 3+
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,
input,
select {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button {
    cursor: pointer;
}

input {
    border-radius: 0;
}

abbr {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*--- Base ---*/
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*--- MAIN STYLES ----*/

#poem {
    margin: 0 auto;
    width: 900px;
}

input[type="text"],
input[type="url"],
input[type="email"] {
    font-size: 20px;
    font-size: (20/$doc-font-size)*1rem;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

/*--- Modules ---*/
@mixin cta($size) {
    display: block;
    width: auto;
    line-height: $size;
    color: $colour-control-info-text;
    @include rgba-fb("bg", $colour-panelbg, $colour-panelbg-opacity);
    padding: 0 5px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lozenge {
    display: block;
    font-size: 12px;
    line-height: 16px;
    background: transparent;
    border: solid 1px #000;
    border-radius: 5px;
    text-align: center;
    padding: 6px 0;
    color: #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &.is-selected {
        background: #000;
        color: #FFF;
    }
}

.btn {
    display: block;
    font-size: 12px;
    line-height: 16px;
    background: #ff00ff;
    border-radius: 5px;
    text-align: center;
    padding: 6px 0;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn:hover {
    background-color: #0044cc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
